/**
fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.potta-one-regular {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
}

/**
colors
 */
$color-gray: #bbb;
$color-blue: #BFE6E1;
$color-green: #1B9284;
$color-yellow: #DB9846;
$color-red: #E1393D;
$color-button: #6c757d;
$color-sticky: #81cf7a;

/**
breakpoints
 */
$breakpoints: (
    'sm': 'screen and (min-width: 576px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 992px)',
    'xl': 'screen and (min-width: 1200px)',
    'xxl': 'screen and (min-width: 1400px)',
) !default;

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/**
common
 */
html {
    scroll-behavior: smooth;
}

header {
    h1 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        @include media(lg) {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 2rem;
        }


        a {
            text-decoration: none;
        }
    }
}

footer {
    .copyright {
        font-size: 0.7rem;
        text-align: center;
    }
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 20px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.pagetop a:hover {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 20px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.data-delete {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.6rem 0.75rem;
    border-radius: 0.375rem;
    background-color: #dc3545;
    color: #fff;
    @include media(lg) {
        background-color: #fff;
        color: #000;
    }

    &:hover {
        @include media(lg) {
            background-color: #dc3545;
            color: #fff;
        }
    }

    a {
        text-decoration: none;
    }
}

/**
pawafes
 */


.notes {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.entrance {
    text-align: center;

    .pfentrance {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.6rem 0.75rem;
        border-radius: 0.375rem;
        border: 1px solid $color-button;
        background-color: transparent;

        &:hover {
            @include media(lg) {
                color: #fff;
                background-color: #8C8C8C;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
            }
        }
    }
}

.btnlist {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center !important;

    .positionbtn {
        &.selected {
            background-color: $color-gray;
        }
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin: 1rem calc(-.5 * var(--bs-gutter-x));
    padding-left: 1rem;
    padding-right: 1rem;
    @include media(lg) {
        padding-left: 0;
        padding-right: 0;
    }

    .center {
        width: 100%;
        @include media(lg) {
            width: 33.33%;
        }
    }

}

.pawafesnum {
    text-align: right;
    -webkit-position: sticky;
    position: sticky;
    padding: 0 0.4rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    top: 0;
    left: 0;

    &.sticky-color {
        background-color: $color-sticky;
        @include media(lg) {
            background-color: transparent;
        }
    }

    @include media(lg) {
        position: relative;
        margin-top: 0;
        text-align: center;
    }
}

.player {
    .player-wrap {
        display: flex;

        &.founded {
            background-color: $color-gray;
        }

        &:hover {
            @include media(lg) {
                background-color: $color-blue;
                opacity: 0.7;
            }
        }
    }

    .player-image {
        padding: 0;
        width: 100px;
        height: 100px;

        img {
            object-fit: cover;
        }

    }

    .player-info {
        padding-top: 0.1rem;
        padding-left: 0.75rem;
        font-size: 0.85rem;

        .name {
            font-size: 1.2rem;
            @include media(md) {
                font-size: 0.9rem;
            }

            .no {
                color: $color-red;
                font-weight: bold;
                padding-right: 0.5rem;
            }
        }
    }
}
